<a href="https://colab.research.google.com/github/DCI-alxogm/ml2023-Max0730/blob/main/Ago11-12/miprimerNB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
lista1=[2,"2","dos",2.0] #Las listas pueden tener diferentes tipos de valores

In [6]:
lista1*2  #Se pueden multiplicar listas por escalares, únicamente por enteros. Esto da como resultado la lista repetida la cantidad de veces que vale el escalar

[2, '2', 'dos', 2.0, 2, '2', 'dos', 2.0]

In [29]:
lista1.append(5) #Permite añadir elementos al final de la lista

In [18]:
lista1.remove ("2") #Elimina el elemento que coincide con el valor indicado

In [37]:
del lista1[2] #Elimina el elemento que se encuentra en el índice indicado

In [38]:
lista1

['dos', 2.0, 'tres', 5]

In [30]:
del lista1[0:2] #Elimina los elementos que se encuentran en el rango de índices indicado

In [35]:
lista1.insert(2,'tres') #Añade en el índice indicado el elemento que deseemos

In [39]:
?lista1.insert #Nos proporciona información sobre la indicación

In [42]:
lista2=[4, "cuatro", "4"]

In [43]:
lista3=[lista1, lista2]

In [44]:
lista3

[[2, '2', 'dos', 2.0], [4, 'cuatro', '4']]

In [48]:
for i in (lista1):
  print(i)

2
2
dos
2.0

In [54]:
for i in range (len(lista1)):
  print (i,lista1[i])

0 2
1 2
2 dos
3 2.0

In [60]:
for i, item in enumerate (lista1): #enumerate regresa una lista indexada que lleva el índice y el valor que se encuentra en esa posición
  print (i, item)

0 2
1 2
2 dos
3 2.0

In [62]:
lista1=(2,"2","dos",2.0)  #Con paréntesis es una tupla, parecido a una lista pero no se pueden hacer operaciones entre ellas
type(lista1)

tuple

In [63]:
import array as arr  #Librería array

In [75]:
arreglo=arr.array("i", [1,2,3])    #Definimos un arreglo indicando el tipo de datos que contendrá
arreglo

array('i', [1, 2, 3])

In [76]:
arreglo*arreglo  #No se pueden multiplicar este tipo de arreglos, pero los definidos en numpy sí

TypeError: ignored

In [77]:
import numpy as np

In [78]:
nparr1=np.array([1,2,3])

In [81]:
nparr1*nparr1 #Multiplica elemento a elemento entre los vectores

array([1, 4, 9])